.services_cards_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 80px;

    max-width: 100%;
    margin: 0 auto;
    justify-items: center;
    align-items: stretch;
    padding: 20px;
}

@media (max-width: 1024px) {
    .services_cards_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .services_cards_grid {
        grid-template-columns: 1fr;
    }
}