.services_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

@media (max-width: 1024px) {
    .services_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .services_grid {
        grid-template-columns: 1fr;
    }
}

.services-header {
    margin-top: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.services-header .container {
    max-width: 100%; 
}

.services-header h2 {
    color: #062D4B; /* Azul marino oscuro */
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.services-header p {
    color: #5085AE; /* Azul grisáceo */
    font-size: 1.6rem;
}

/* Ajuste para móviles */
@media (max-width: 768px) {
    .services-header h2 {
        font-size: 2rem;
    }
    .services-header p {
        font-size: 1.2rem;
    }
}