.hero {
  background: linear-gradient(to bottom, #A7D9FB, #ffffff);
  padding: 80px 0;
}

.hero_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/*.hero_text h1 {
  font-size: 50px;
  margin-bottom: 16px;
  margin-top: 16px;
}*/

.hero_image {
  width: 500px;
  height: auto;
  margin-left: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_image img {
  width: 100%;
  height: 100%;
}

.hero_text p {
  font-size: 20px;
  color: #396E91;
  margin-bottom: 20px;
}

.hero_brand {
  font-size: 30px;
  color: #396E91;
}
